h1,h2,h3,h5,h6 {font-family: "Oswald"}
body {font-family: 'Merriweather', serif;
}

h4{
    font-family: "Oswald"}



/* color themes */
.w3-theme-15 {color:#000 !important; background-color:#f6fdfd !important}
.w3-theme-14 {color:#000 !important; background-color:#dff7f7 !important}
.w3-theme-13 {color:#000 !important; background-color:#c0efef !important}
.w3-theme-12 {color:#000 !important; background-color:#a0e7e7 !important}
.w3-theme-11 {color:#000 !important; background-color:#80dede !important}
.w3-theme-d1 {color:#000 !important; background-color:#48d0d0 !important}
.w3-theme-d2 {color:#fff !important; background-color:#33c6c6 !important}
.w3-theme-d3 {color:#fff !important; background-color:#2dadad !important}
.w3-theme-d4 {color:#fff !important; background-color:#269494 !important}
.w3-theme-d5 {color:#fff !important; background-color:#207c7c !important}

.w3-theme-light {color:#000 !important; background-color:#f6fdfd !important}
.w3-theme-dark {color:#fff !important; background-color:#207c7c !important}
.w3-theme-action {color:#fff !important; background-color:#207c7c !important}

.w3-theme {color:#000 !important; background-color:#61d6d6 !important}
.w3-text-theme {color:#61d6d6 !important}
.w3-border-theme {border-color:#61d6d6 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#61d6d6 !important}
.w3-hover-text-theme:hover {color:#61d6d6 !important}
.w3-hover-border-theme:hover {border-color:#61d6d6 !important}


.mySlides {display: none}
img {vertical-align: middle;}

/* SLideshow */
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1920px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: default;
  height: 30px;
  width: 30px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
